<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			.layout{
				padding: 10px;
			}
			.content {
				padding: 10px;
				margin-top: 30px;
				display: grid;
				gap: 20px;
				grid-template-columns: repeat(5, 1fr);
			}

			.user {
				min-width: 100px;
				max-width: 200px;
				height: 100px;
				background: lightblue;
				border: 1px solid black;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.avatar {
				/* width: 5px; */
				/* height: 5px; */
			}
		</style>
	</head>
	<body>
		<div class="layout">
			<div class="search">
				<h1>Search Github Users</h1>
				<input type="text" /> <button type="button">Search</button>
			</div>
			<div class="content">
				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>
				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>
				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>
				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>
				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>
				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>				<div class="user">
					<div class="avatar">
						<img src="../../assets/logo1.png" width="32px" height="32px" alt="" />
						<div class="username">
							kitty
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>