<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>模板语法</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
<div id="app">
    <!-- 文本插值 双大花括号语法-->
    <span>Message: {{msg}}</span>

    <!-- 原始HTML v-html指令 -->
    <p>Using text interpolation: {{ rawHtml }}</p>
    <p>Using v-html directive: <span v-html="rawHtml"></span></p>

    <!-- 属性绑定 v-bind:attr -->
    <div v-bind:id="dynamicId">v-bind:attr</div>
    <div :id="dynamicId">v-bind:attr</div>

    <!-- 同名简写 Vue 3.4+ -->
    <div :id>v-bind:attr</div>
    <div v-bind:id>v-bind:attr</div>

    <!-- 布尔类型 -->
    <button v-bind:disabled="isButtonDisabled"> Button</button>
    <button :disabled="isButtonDisabled"> Button</button>

    <button v-bind:disabled="disabled">Button</button>
    <button :disabled>Button</button>

    <!-- 动态绑定多个属性 -->
    <div v-bind="objAttrs">动态绑定多个属性</div>

    <!-- JavaScript表达式 -->
    <div>{{number + 1}}</div>
    <div> {{ok ? "yes" : "no"}}</div>
    <div>{{msg.split('').reverse().join('')}}</div>
    <div :id="`list-${id}`">id</div>
    <!-- 这是一个语句，而非表达式 -->
    <!--        {{ var a = 1 }}-->
    <!-- 条件控制也不支持，请使用三元表达式 -->
    <!--        {{ if (ok) { return message } }}-->

    <time :title="toTitleDate(date)" :datetime="date">
        {{format(date) }}
    </time>

    <!-- 指令： 带有”v-“前缀的特殊attribute -->
    <p v-if="seen">v-if 指令</p><br>

    <!-- 指令参数：[指令]:[参数]    v-bind:href -->
    <a v-bind:href="url">超链接</a><br>
    <!-- 简写 -->
    <a :href="url">百度</a><br>
    <!-- 同名简写 -->
    <a :href>谷歌</a><br>

    <!-- v-on:click [指令]:[指令参数] -->
    <a v-on:click="dosomething">点击</a><br>
    <a @click="dosomething2">点击</a><br>

    <!-- 动态参数 -->
    <!-- 动态参数 用于属性绑定-->
    <a v-bind:[attrname]="url">动态指令参数</a><br>
    <a :[attrname]="url">动态指令参数</a><br>

    <!-- 动态参数 用于事件绑定-->
    <a v-on:[eventname]="dosomething">动态指令参数</a><br>
    <a @[eventname]="dosomething">动态指令参数</a><br>

    <!-- 指令修饰符 -->
    <form @submit.prevent="onsubmit">
        <input type="submit" value="提交">
    </form>

    <!-- 完整的指令语法  -->
    <form v-on:submit.prevent="onsubmit"></form>
    <!-- [v-xxx]:[args].[modifies]="value" -->

</div>
<script>
    const {createApp} = Vue
    const app = createApp({
        data() {
            return {
                msg: "模板语法 template syntax",
                rawHtml: '"<span style="color: red">This should be red.</span>"',
                dynamicId: 777,
                id: "simplify",
                isButtonDisabled: "",
                disabled: 0,
                objAttrs: {
                    id: "container",
                    class: "wrapper",
                },
                number: 100,
                ok: 1,
                date: new Date().toLocaleDateString(),
                format(date){
                    return "2024/08/29"
                },
                toTitleDate(date){
                    return "2024-08-29"
                },
                seen: 0,
                url: "http://www.baidu.com",
                href: "https://www.google.com.cm",
                dosomething(){
                    console.log("用户点击了")
                    alert("you have clicked me")
                },
                dosomething2(){
                    confirm("Are you OK?")
                },
                attrname: "href",
                eventname: "click",
                onsubmit(){
                    console.log("用户点击提交")
                }
            }
        },
        method: {

        }

    })

    app.mount("#app")
</script>
</body>

</html>