<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 类型别名 -->
    <typeAliases>
        <package name="com.xxx.entity"/>  <!-- Brand|brand -->
    </typeAliases>

    <!-- 环境配置 ，可以配置多个，通过default属性来切换-->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理器 -->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.254.133:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="mysql123456"/>
            </dataSource>
        </environment>

    </environments>

    <!-- 加载 sql 映射文件 -->
    <mappers>
        <!-- <mapper resource="com/xxx/mapper/BrandMapper.xml"/>-->

        <!-- Mapper 代理方式 简化加载映射文件-->
        <package name="com.xxx.mapper"/>
    </mappers>
</configuration>
