<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			.articleTable,
			th,
			td {
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			文章分类：<input type="text" v-model="searchConditions.category" />{{searchConditions.category}}
			文章状态：<input type="text" v-model="searchConditions.state"> {{searchConditions.state}}
			<button>搜索</button>
			<button v-on:click="clear">重置</button>

			<table border="1" class="articleTable">
				<tr>
					<th>标题</th>
					<th>分类</th>
					<th>时间</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
				<tr v-for="(article,index) in articleList" :key="index">
					<td>{{article.title}}</td>
					<td>{{article.category}}</td>
					<td>{{article.time}}</td>
					<td>{{article.state}}</td>
					<td>
						<button>编辑</button>
						<button>删除</button>
					</td>
				</tr>
			</table>

		</div>

		<script type="module">
			import {
				createApp
			} from './vue3.js'

			const app = createApp({

				data() {
					return {

						/* 定义数据 */
						articleList: [{
								title: "文章标题1",
								category: "军事",
								time: "2023-09-05",
								state: "已发布"
							},
							{
								title: "文章标题2",
								category: "小说",
								time: "2023-09-05",
								state: "已发布"
							},
							{
								title: "文章标题3",
								category: "数码",
								time: "2023-09-05",
								state: "已发布"
							},
							{
								title: "文章标题4",
								category: "时事",
								time: "2023-09-05",
								state: "已发布"
							}
						],
						searchConditions: {
							category: "",
							state: ""
						}
					}

				},
				methods: {
					clear(){
						this.searchConditions.category = ''
						this.searchConditions.state = ''
					}
				},
				
				/* 生命周期 */
				mounted(){
					console.log("已经挂载完毕，可以发送请求")
				}
			})

			app.mount("#app")
		</script>
	</body>
</html>